@font-face {
    font-family: 'gidoleregular';
    src: url('fonts/gidole-regular.woff2') format('woff2'),
         url('fonts/gidole-regular.woff') format('woff'),
         url('fonts/gidole-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gidolinyaregular';
    src: url('fonts/gidolinya-regular.woff2') format('woff2'),
         url('fonts/gidolinya-regular.woff') format('woff'),
         url('fonts/gidolinya-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

html {
  font-family:gidoleregular,sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: 0;
}
noscript {
  position:fixed;
  z-index:100;
  background-color:#933100;
  color:#fff;
  width:100%
}
.wrapper {
  width:100%;
  max-width:760px;
  margin:0 auto;
  box-sizing:border-box;
  padding:1em 15px 4em;
}
.overlay .wrapper {
  padding: 2em 15px;
}
.text-center {
  text-align:center
}
a {
  text-decoration:none
}
#iframeloading, iframe {
  width: 340px;
  height: 458px;
  display: block;
  margin: 0 auto;
}
#iframeloading {
  text-align: center;
  padding-top: 1em;
  box-sizing: border-box;
}
iframe {
  margin-top: -458px;
}

/*SOCIAL*/
.social {
  line-height: 0px;
  z-index: 35;
  width: 100%;
  top: -34px;
  -webkit-transition: -webkit-transform 1s ease;
          transition: transform 1s ease;
  -webkit-transform: translate3d(0,0,0);
          transform: translate3d(0,0,0)
}
.social > div, .social > div > div {
  display: inline-block;
}
.social span {
  line-height: 40px;
  margin: 0 -40px;
}
.social > div > div {
  padding-left: 3vw;
}
#get {
  padding-left: 0;
}
.social > div > div > div > a:not(:first-child) {
  padding-left: 1vw;
}
svg {
  width: 8.1vw;
}
.social a {
  display: inline-block;
}
.fixedbig {
  position: fixed;
  top:-90px !important;
  -webkit-transform: translate3d(0,60px,0);
          transform: translate3d(0,60px,0);
}
  
/*COLORS*/
html, .toggle-blob {
  background-color:#fff;
}
html, 
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  -webkit-transition: background-color 1s ease;
          transition: background-color 1s ease;
}
p, span {
  color: hsl(200, 11%, 35%);
}
a, .linklook, svg {
  color:hsl(200, 100%, 45%);
  cursor: pointer;
}
h1, h1 span {
  color:hsl(200, 17%, 15%);
}
h2, h3 {
  color:hsl(200, 14%, 25%)
}
.comment, .charmap {
  color:hsl(200, 8%, 59%)
}
path {
  fill:hsl(200, 14%, 25%)
}

::-moz-selection {
  background-color:#0098E5;
  color:#fff
}

::selection {
  background-color:#0098E5;
  color:#fff
}


/*Typography*/
body {
  font-size:3.53vw;
  letter-spacing:0.5px;
  line-height:1.6em;
}

h1,h2,h3 {
  font-weight:400
}

h2, .charmap {
  letter-spacing:0;
  font-size:2.62em;
  line-height:1.23em;
  margin-top:0.7em;
  margin-bottom:-.7em;
  margin-left: -0.03em;
}
.charmap {
  letter-spacing:-0.03em;
  margin-bottom: 1em;
}

h3 {
  font-size:1.618em;
  line-height:0.99em;
  margin-top:2.38em;
  margin-bottom:-0.84em;
  margin-left: -0.02em;  
  letter-spacing:0;
}
#playground h3 {
  padding-bottom: 1em;
}

blockquote,ol,p,pre,table,ul {
  margin-top:1.6em;
  margin-bottom:1.6em;
}
.strike {
  text-decoration: line-through;
}


/*THEMES*/
p, h1, h2, h3, span, .charmap {
  opacity: 1;
  filter:alpha(opacity=100);
  -webkit-transition: color 1s ease, opacity 500ms ease;
          transition: color 1s ease, opacity 500ms ease;
}
.charmap, body {
  -webkit-transition: letter-spacing 1s ease;
          transition: letter-spacing 1s ease;
}
.fade p, .fade h1, .fade h2, .fade h3, .fade span, .fade .charmap {
  opacity: 0;
  filter:alpha(opacity=0);
}
.play {
  font-family:gidolinyaregular;
}
.trackingtest body, .trackingtest .charmap {
  letter-spacing: 0px !important;
}
.dark {
  background-color: rgb(36, 39, 40);
}
.dark path {
  fill:hsl(200, 100%, 100%)
}
.dark p, .dark span {
  color:hsl(200, 2%, 90%);
}
.dark .overlay {
  background-color: rgba(36, 39, 40, 0.90);
}
.dark a {
  color:hsl(200, 95%, 70%);
}
.dark h1, .dark h1 span, .dark h2, .dark h3, .dark .overlay p, .dark .overlay h2 {
  color:hsl(200, 100%, 100%);
}
.dark .comment, .dark .charmap {
  color:hsl(200, 5%, 45%)
}
.dark .jumbotron:before {
  background-image:-webkit-linear-gradient(bottom, rgba(36, 39, 40,1) 0%, rgba(36, 39, 40,.95) 4%, rgba(36, 39, 40,.8) 8%, rgba(36, 39, 40,.5) 12%, rgba(36, 39, 40,.2) 16%, rgba(36, 39, 40,.05) 20%, rgba(36, 39, 40,0) 24%, rgba(36, 39, 40,0) 100%);
  background-image:linear-gradient(to top,rgba(36, 39, 40,1) 0%,rgba(36, 39, 40,.95) 4%,rgba(36, 39, 40,.8) 8%,rgba(36, 39, 40,.5) 12%,rgba(36, 39, 40,.2) 16%,rgba(36, 39, 40,.05) 20%,rgba(36, 39, 40,0) 24%,rgba(36, 39, 40,0) 100%);
  
}
.dark .jumbotron {
    background:url(img/darkbg.png) center center/cover no-repeat;
}
.dark [type="checkbox"]:not(:checked) + label:before,
.dark [type="checkbox"]:checked + label:before {
  background-color: black;
}



/*Slideshow*/
.slideshow p {
  margin-bottom: 0.8em;
}
.slideshow .slideimg img {
  max-width: 30%;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;  
}
.slideshow .slideimg img:not(:first-child) {
  margin-left: 5%;
}

/*POPUP*/
.overlay {
  position: fixed;
  z-index: 30;  
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.90);
  -webkit-box-align:center;
  -webkit-align-items:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
      -ms-flex-pack:center;
          justify-content:center;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  pointer-events: none;
  opacity: 0;
  filter:alpha(opacity=0);
  -webkit-transition: opacity 500ms ease;
          transition: opacity 500ms ease;
}
.overlay.gallery {
  z-index: 40;
}
.overlay img {
  max-height: 90%;
  max-width: 90%;
  margin: 0 auto;
  height: auto;
  display: block;
}
.overlay.gallery div {
  max-height: 100%;
  max-width: 100%;
}
.overlay.visible {
  pointer-events: all;
  opacity: 1;
  filter:alpha(opacity=100);
  -webkit-transition: opacity 500ms ease;
          transition: opacity 500ms ease;  
  cursor: -webkit-zoom-out;  
  cursor: zoom-out;  
}
.overlay > div {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition: -webkit-transform 500ms ease;
          transition: transform 500ms ease;
}
.overlay.visible > div {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
#close {
  cursor: pointer;
}

/*JUMBOTRON*/
.jumbotron {
  height:100%;
  width:100%;
  background:url(img/bg.png) center center/cover no-repeat;
  position:relative;
  opacity:0;
  filter:alpha(opacity=0);
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
  -webkit-align-items:center;
      -ms-flex-align:center;
          align-items:center;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
      -ms-flex-pack:center;
          justify-content:center;
  padding-bottom:150px;
  -webkit-transition: opacity 2s ease 0.2s;
          transition: opacity 2s ease 0.2s;
}
.jumbotron.loaded {
  opacity: 1;
  filter:alpha(opacity=100);
}

.jumbotron:before {
  content:'';
  position:absolute;
  height:100%;
  width:100%;
  left:0;
  top:0;
  background-image:-webkit-linear-gradient(bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,.95) 4%, rgba(255,255,255,.8) 8%, rgba(255,255,255,.5) 12%, rgba(255,255,255,.2) 16%, rgba(255,255,255,.05) 20%, rgba(255,255,255,0) 24%, rgba(255,255,255,0) 100%);
  background-image:linear-gradient(to top,rgba(255,255,255,1) 0%,rgba(255,255,255,.95) 4%,rgba(255,255,255,.8) 8%,rgba(255,255,255,.5) 12%,rgba(255,255,255,.2) 16%,rgba(255,255,255,.05) 20%,rgba(255,255,255,0) 24%,rgba(255,255,255,0) 100%);
}
.jumbotron div {
  width:100%
}

#title {
  font-size:36vw;
  line-height:90%;
  letter-spacing:-.8vw;
  margin-top:-50px;
}

#tag {
  font-size:18vw;
  line-height:90%;
  letter-spacing:-.2vw;
}

#playground h3 {
  margin-bottom: -1.8em;
}
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 55px;
  cursor: pointer;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '';
  position: absolute;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  left:0; top: -3px;
  width: 45px; height: 30px;
  background: hsl(200, 5%, 40%);
  border-radius: 15px;
  transition: background-color .2s;
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  width: 24px; height: 24px;
  transition: all .2s;
  border-radius: 50%;
  background: #FFF;
  top: 0px; left: 3px;
}

[type="checkbox"]:checked + label:after {
  left: 18px;
}

[type="checkbox"]:focus + label:before {
  border: 1px dashed #777;
  box-sizing: border-box;
  margin-top: -1px;
}

@media all and (min-width:740px) {
  body {
    font-size:26px
  }
  h1 {
    font-size:300px
  }
  .social > div > div {
    padding-left: 26px;
  }
  .social > div > div > div > a:not(:first-child) {
    padding-left: 9px;
  }
  svg {
    width: 60px;
    -webkit-transition: -webkit-transform .2s ease;
            transition: transform .2s ease;
  }
  svg:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }
  #title {
    font-size:266px;
  }

  #tag {
    font-size:133px;  
  }

}
@media all and (max-width:650px) {
  .toggle {
    width: 30px;
    height: 20px;
  }
  
  [type="checkbox"]:not(:checked) + label,
  [type="checkbox"]:checked + label {
    padding-left: 40px;
  }
  [type="checkbox"]:not(:checked) + label:before,
  [type="checkbox"]:checked + label:before {
    width: 30px; height: 20px;
  }
  [type="checkbox"]:not(:checked) + label:after,
  [type="checkbox"]:checked + label:after {
    width: 14px; height: 14px;
  }
  [type="checkbox"]:checked + label:after {
  left: 13px;
  }

  
}
@media all and (max-width:460px) {
  body {
    font-size: 16px;
  }
  h3 {
    font-size:5.71vw;
  }
  .charmap {
    font-size:9.2vw;
  }
  .toggle {
    width: 26px;
    height: 16px;
  }


}  