html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

@font-face {
    font-family: 'gidoleregular';
    src: url('fonts/gidole-regular.woff2') format('woff2'),
         url('fonts/gidole-regular.woff') format('woff'),
         url('fonts/gidole-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gidolinyaregular';
    src: url('fonts/gidolinya-regular.woff2') format('woff2'),
         url('fonts/gidolinya-regular.woff') format('woff'),
         url('fonts/gidolinya-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
  font-family:gidoleregular,sans-serif;
  text-rendering: optimizeLegibility;
}
noscript {
  position:fixed;
  z-index:100;
  background-color:#933100;
  color:#fff;
  width:100%
}
.wrapper {
  width:100%;
  max-width:760px;
  margin:0 auto;
  box-sizing:border-box;
  padding:2em 15px 0;
  transform: translateY(-150px);
}
.text-center {
  text-align:center
}
a {
  text-decoration:none
}
iframe {
  width: 340px;
  height: 458px;
}

/*SOCIAL*/
.social {
  line-height: 0px;
  z-index: 35;
  width: 100%;
}
.social > div {
  margin-top: 0px;
  transition: transform 1s cubic-bezier(.17,0,.17,1);
  transform: translate3d(0,-150px,0);
}
.social > div, .social > div > div {
  display: inline-block;
}
.is-sticky #showscroll {
  transition: transform 1s ease;
  transform: translate3d(27.25vw,-4px,0) scale(0.8);
}
#showscroll > div {
  transform: translate3d(0,0,0);
  transition: transform 1s cubic-bezier(.17,0,.17,1);
}
.is-sticky #donate {
  transform: translate3d(-2vw,0,0);
  transition: transform 1s ease;
}
.social span {
  line-height: 40px;
  margin: 0 -40px;
}
.social > div > div {
  padding-left: 3vw;
}
#get {
  padding-left: 0;
}
.social > div > div > div > a:not(:first-child) {
  padding-left: 1vw;
}
svg {
  width: 6vw;
}
.social a {
  height: 6vw;
  display: inline-block;
}
.fixedbig {
  position: fixed;
  top:-30px !important;
}
.social.fixedbig > div {
  transform: translate3d(0,40px,0) scale(1) !important;
  transition: 2s ease;
}
.social.fixedbig #donate {
  transform: translate3d(0,0,0) !important;
}
  
/*COLORS*/
html, .toggle-blob {
  background-color:#fff;
}
html {
  transition: background-color 1s ease;
}
p, span {
  color: hsl(200, 11%, 35%);
}
a, .linklook, svg {
  color:hsl(200, 100%, 45%);
  cursor: pointer;
}
h1 {
  color:hsl(200, 17%, 15%)
}
h2, h3 {
  color:hsl(200, 14%, 25%)
}
.comment, .charmap {
  color:hsl(200, 8%, 59%)
}
path {
  fill:hsl(200, 14%, 25%)
}

::-moz-selection {
  background-color:#0098E5;
  color:#fff
}

::selection {
  background-color:#0098E5;
  color:#fff
}


/*Typography*/
body {
  font-size:3.53vw;
  letter-spacing:0.5px;
  line-height:1.6em;
}

h1,h2,h3 {
  font-weight:400
}

h1 {
  line-height:108px;
  margin-top:72px;
  margin-bottom:36px;
  font-size:35vw;
}

h2, .charmap {
  letter-spacing:0;
  font-size:2.62em;
  line-height:1.23em;
  margin-top:0.7em;
  margin-bottom:-.7em;
  margin-left: -0.03em;
}
.charmap {
  letter-spacing:-0.03em;
  margin-bottom: 1em;
}

h3 {
  font-size:1.618em;
  line-height:0.99em;
  margin-top:2.38em;
  margin-bottom:-0.84em;
  margin-left: -0.02em;  
  letter-spacing:0;
}
#playground h3 {
  padding-bottom: 1em;
}

blockquote,ol,p,pre,table,ul {
  margin-top:1.6em;
  margin-bottom:1.6em;
}
.strike {
  text-decoration: line-through;
}

/*TOGGLES*/
.toggle {
  width: 44px;
  height: 30px;
  float: left;
  padding: 5px 10px 0 0;  
}
.toggle-slide {
  overflow: hidden;
  cursor: pointer;
  user-select: none;
  direction: ltr;
}
.toggle-slide .toggle-on,
.toggle-slide .toggle-off,
.toggle-slide .toggle-blob {
  float: left;
}
.toggle-slide .toggle-blob {
  position: relative;
}
.toggle-slide {
  border-radius: 9999px;
}
.toggle-on, .toggle-off {
  background:hsl(200, 11%, 52%);
}
.toggle-blob {
  border-radius: 9999px;
  box-sizing: border-box;
  border: 1px solid hsl(200, 11%, 40%);
}


/*THEMES*/
p, h1, h2, h3, span, .charmap {
  opacity: 1;
  transition: color 1s ease, opacity 500ms ease;
}
.charmap, body {
  transition: letter-spacing 1s ease;
}
.fade p, .fade h1, .fade h2, .fade h3, .fade span, .fade .charmap {
  opacity: 0;
}
.play {
  font-family:gidolinyaregular;
}
.trackingtest body, .trackingtest .charmap {
  letter-spacing: 0px !important;
}
.dark {
  background-color: rgb(36, 39, 40);
}
.dark path {
  fill:hsl(200, 100%, 100%)
}
.dark p, .dark span {
  color:hsl(200, 2%, 90%);
}
.dark .overlay {
  background-color: rgba(36, 39, 40, 0.90);
}
.dark a {
  color:hsl(200, 95%, 70%);
}
.dark h1, .dark h2, .dark h3, .dark .overlay p, .dark .overlay h2 {
  color:hsl(200, 100%, 100%) !important;
}
.dark .comment, .dark .charmap {
  color:hsl(200, 5%, 45%)
}
.dark .jumbotron:before {
  background-image:linear-gradient(to top,rgba(36, 39, 40,1) 0%,rgba(36, 39, 40,.95) 4%,rgba(36, 39, 40,.8) 8%,rgba(36, 39, 40,.5) 12%,rgba(36, 39, 40,.2) 16%,rgba(36, 39, 40,.05) 20%,rgba(36, 39, 40,0) 24%,rgba(36, 39, 40,0) 100%);
  
}
.dark .jumbotron {
    background:url(img/darkbg.png) center center/cover no-repeat;
}


/*Slideshow*/
.slideshow p {
  margin-bottom: 0.8em;
}
.slideshow .slideimg img {
  max-width: 30%;
  cursor: zoom-in;  
}
.slideshow .slideimg img:not(:first-child) {
  margin-left: 5%;
}

/*POPUP*/
.overlay {
  position: fixed;
  z-index: 30;  
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.90);
  align-items:center;
  justify-content:center;
  display:flex;
  pointer-events: none;
  opacity: 0;
  transition: opacity 500ms ease;
}
.overlay.gallery, #donateiframe {
  z-index: 40;
}
.overlay h2 {
  color:hsl(200, 11%, 35%) !important;
}
.overlay a {
  color:hsl(200, 100%, 45%) !important;
}
.overlay img {
  max-height: 90%;
  max-width: 90%;
  margin: 0 auto;
  height: auto;
  display: block;
}
.overlay.gallery div {
  max-height: 100%;
  max-width: 100%;
}
.overlay.visible {
  pointer-events: all;
  opacity: 1;
  transition: opacity 500ms ease;  
  cursor: zoom-out;  
}
.overlay > div {
  transform: scale(0.95);
  transition: transform 500ms ease;
}
.overlay.visible > div {
  transform: scale(1);
}
#close {
  cursor: pointer;
}

/*JUMBOTRON*/
.jumbotron {
  height:100%;
  width:100%;
  background:url(img/bg.png) center center/cover no-repeat;
  position:relative;
  opacity:0;
  display:flex;
  align-items:center;
  justify-content:center;
  padding-bottom:150px;
  transition: opacity 2s ease;
  margin-bottom: 150px;
}
.jumbotron.loaded {
  opacity: 1;
}

.jumbotron:before {
  content:'';
  position:absolute;
  height:100%;
  width:100%;
  left:0;
  top:0;
  background-image:linear-gradient(to top,rgba(255,255,255,1) 0%,rgba(255,255,255,.95) 4%,rgba(255,255,255,.8) 8%,rgba(255,255,255,.5) 12%,rgba(255,255,255,.2) 16%,rgba(255,255,255,.05) 20%,rgba(255,255,255,0) 24%,rgba(255,255,255,0) 100%);
  opacity:1;
}
.jumbotron div {
  width:100%
}

#title {
  line-height:90%;
  letter-spacing:-.03em;
  font-size:1em;
  margin-top:-50px;
  font-family:gidoleregular;
}

#tag {
  line-height:90%;
  letter-spacing:-.02em;
  font-size:.38em;
  font-family:gidolinyaregular;    
}


@media all and (min-width:740px) {
  body {
    font-size:26px
  }
  h1 {
    font-size:300px
  }
}
@media all and (max-width:650px) {
  .toggle {
    width: 30px;
    height: 20px;
  }
}
@media all and (max-width:460px) {
  body {
    font-size: 16px;
  }
  h3 {
    font-size:5.71vw;
  }
  .charmap {
    font-size:9.2vw;
  }
  .toggle {
    width: 26px;
    height: 16px;
  }
}  
@media all and (max-width:380px) {
/*
  h3 { 
    font-size: 23px;
  }
*/

}