::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*
@font-face {
    font-family: 'gidole2regular';
    src: url('/demo/fonts/Gidole2-Regular.woff2') format('woff2'),
         url('/demo/fonts/Gidole2-Regular.woff') format('woff'),
         url('/demo/fonts/Gidole2-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gidolemono';
    src: url('/demo/fonts/Gidole-Mono.woff2') format('woff2'),
         url('/demo/fonts/Gidole-Mono.woff') format('woff'),
         url('/demo/fonts/Gidole-Mono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
*/
@font-face {
    font-family: 'gidole2regular';
    src: url('/fonts/Gidole2-Regular.woff2') format('woff2'),
         url('/fonts/Gidole2-Regular.woff') format('woff'),
         url('/fonts/Gidole2-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'gidolemono';
    src: url('/fonts/Gidole-Mono.woff2') format('woff2'),
         url('/fonts/Gidole-Mono.woff') format('woff'),
         url('/fonts/Gidole-Mono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

html {
  font-family: 'gidole2regular';
  color: hsla(201, 14%, 68%, 100);
  background-color: hsl(201, 19%, 20%);
}
body {
  width: 100%;
  margin: 0 20px;
  font-size: 2.2em;
  line-height: 1.5em;
  letter-spacing: .1rem;  
  height: 5000px;
  pointer-events: none;
  user-select:none;  
}
h2 {
  font-size: 2.62em;
}
nav, body > div {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;  
  display: flex;
  align-items: center;
  align-content: center;
  z-index: 100;
}
.behind {
  z-index: 5;
}
.farbehind {
  z-index: 1;
}
a {
  text-decoration: none;
  color: hsla(201, 14%, 68%, 100);
}
.spaced {
  letter-spacing: .6rem;
  margin-right: -0.6rem;
}
.wrap {
  width: 800px;
  margin: 0 auto;
}
svg {
  width: 90%;
  max-height: 90%;
  margin: 0 auto;
}
#uno {
  flex-direction: column;
  justify-content: center;
  text-align: center;  
}
#uno svg {
  max-width: 800px;
  margin: 0 auto 1.4rem;
  display: block;
}
#uno p {
  opacity: 0;
  animation: fadein .5s ease-in 2s forwards;
}
#downarrow {
  font-size: 2rem;  
  position: fixed;
  margin: 0 auto;
  opacity: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  animation: fadein .5s ease-in 2.5s forwards;
}
nav span {
  padding: .5rem 1.2rem .5rem 1.4rem;
  border: solid 2px hsla(201, 14%, 68%, 100);
  border-radius: 1rem;
}
nav span:hover {
  cursor: default;
}
nav a {
  display: block;
}
nav {
  pointer-events: none;
  cursor: default;
  flex-direction: row;
  justify-content: space-around;
}
nav > div {
  text-align: center;
  position: relative;
}
.links {
  position: absolute;
  top: 2rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translate3d(0,.6rem,0);
  transition: .3s ease ;
  opacity: 0;
  visibility: hidden;
}
.links a {
  margin-right: -.1rem;
}
.visible .links {
  transform: translate3d(0,1.3rem,0);
  opacity: 1;
  visibility: visible;
}

#mapintro p {
  z-index: 10;
}
#world {
  font-family: 'gidolemono';
  font-size: 2rem;
  height: 400%;
  top: -150%;
  overflow: hidden;
  left: -8000px;
  right: -8000px;
  color: hsl(201, 50%, 5%);
}
#worldcenter {
  opacity: 0;
  animation: fadein .8s ease-in 0.2s forwards;
  position: relative;
  margin: 0 auto;
  white-space: nowrap;
}
#dot {
  color:red;
}

#duo {
  height: 100%;
}
.goo path {
  fill: hsla(201, 50%, 5%, 0.4);
  stroke: hsl(201, 50%, 5%);
  stroke-width: 1px;
}
.letter path, #tob, #und, #mar {
  fill: hsla(201, 14%, 68%, 100);
}
#overlay {
  fill: hsl(201, 19%, 20%);
}
#circles {
  fill: none;
  stroke-width: 10px;
  stroke: hsl(201, 50%, 5%);
}
/*
.goo[blur="1"] path {
  fill: rgba(0, 0, 0, 0.5);
}
.goo[blur="1"]{
  -webkit-filter: url("#goo");
}
*/

/*filter:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSI+DQo8ZGVmcz4NCjxmaWx0ZXIgaWQ9ImdvbyI+DQo8ZmVHYXVzc2lhbkJsdXIgaW49IlNvdXJjZUdyYXBoaWMiIHN0ZERldmlhdGlvbj0iMTAiIHJlc3VsdD0iYmx1ciIgLz4NCjxmZUNvbG9yTWF0cml4IGluPSJibHVyIiBtb2RlPSJtYXRyaXgiIHZhbHVlcz0iMSAwIDAgMCAwICAwIDEgMCAwIDAgIDAgMCAxIDAgMCAgMCAwIDAgMTkgLTkiIC8+DQo8L2ZpbHRlcj4NCjwvZGVmcz4NCjwvc3ZnPg0K=#goo);*/
/*
      <svg class="visuallyhidden" xmlns="http://www.w3.org/2000/svg" version="1.1">
      <defs>
        <filter id="goo">
          <feGaussianBlur in="SourceGraphic" stdDeviation="5" result="blur" />
          <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" />
        </filter>
      </defs>
    </svg>
data-2595="@blur:0" data-2600="@blur:1" data-2995="@blur:1" data-3000="@blur:0"
*/



@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}















/* ==========================================================================
   Helper classes
   ========================================================================== */

/* Hide visually and from screen readers:  */

.hidden {
    display: none !important;
    visibility: hidden;
}

/* Hide only visually, but have it available for screen readers: */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* Hide visually and from screen readers, but maintain layout */

.invisible {
    visibility: hidden;
}



/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
